*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
}

.mainDiv{
    display: flex;

}
.sidebar{
    /* width: 30vw; */
    background-color: blueviolet;
    height: 100vh;
}

.sidebar h1{
    background-color: dodgerblue;
    color: white;
    text-align: center;
    
    margin-bottom: 50px;
}

.sidebar input{
    padding: 10px;
    margin: 15px;
    font-size: 20px;
    outline: none;
}

.sidebar .inputFields{
    width: 93%;
}

.sidebar .radio{
    height: 20px;
    width: 20px;
    margin: 10px;
    /* margin-top: 50px; */
}

.sidebar label{
    font-size: 30px;
    margin: 15px;
}

.sidebar fieldset{
    display: flex;
    align-items: center;
    justify-content: left;
    border: 0;
}

.sidebar button{
    height: 40px;
    width: 93%;
    margin: 15px;
    border: none;
    border-radius: 20px;
    background-color: dodgerblue;
    font-size: 20px;
    color: white;
}

.bookRecords h1{
    background-color: dodgerblue;
    text-align: center;
    color: white;
    border-left: none;
}


table{
    width: 70vw;
    
    background-color: blueviolet;
    /* display: flex;
    align-items: center;
    justify-content: space-evenly; */
    
}

th{
    /* border: 1px solid black; */
    width: 22%;
    flex: 1;
    /* width: 20%; */
    height: 30px;
    font-size: 20px;
    background-color:cornflowerblue;
    color: white;
}

td{
    /* border: 1px solid black; */
    padding-left: 10px;
    height: 30px;
    
}

tr:nth-child(even){
    background-color: khaki;
}

tr:nth-child(odd){
    background-color: rgb(241, 225, 80);
}

.removeButton{
    height: 20px;
    width: 90%;
    background-color: red;
    color: white;
    border-radius: 10px;
    border: none;
}

button:hover{
    scale: 1.03;
    /* border: 1px solid white; */
    
}

tr:nth-child(even):hover{
    background-color: rgba(240, 230, 140, 0.98);
}