*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    overflow-x: hidden;
    scrollbar-width: 0;
}

.mainDiv{
    width: 100vw;
}

.sidebar{
    width: 30%;
    background-color: blueviolet;
    height:auto;
    position: absolute;
    position: fixed;
    right: 10px;
    bottom: 10px;
    top :10px;
    border-radius: 20px;
    transition: 1000ms;
    overflow: hidden;
    display: none;
}

.sidebarInactive{
    visibility: hidden;
}

.sidebarActive{
    visibility: visible;
}

.sidebar h1{
    color: white;
    text-align: center;
    margin: 20px;
    padding: 20px;
}

.sidebar input{
    padding: 10px;
    margin: 15px;
    font-size: 20px;
    outline: none;
}

.sidebar .inputFields{
    width: 93%;
}

.sidebar .radio{
    height: 20px;
    width: 20px;
    margin: 10px;
}

.sidebar label{
    font-size: 30px;
    margin: 15px;
}

.sidebar fieldset{
    display: flex;
    align-items: center;
    justify-content: left;
    border: 0;
}

.sidebar button{
    height: 50px;
    width: 93%;
    margin: 15px;
    border: none;
    border-radius: 20px;
    background-color: dodgerblue;
    font-size: 20px;
    color: white;
}

.bookRecords h1{
    background-color: dodgerblue;
    text-align: center;
    color: white;
    border-left: none;
    padding: 10px;
    font-size: 40px;
}

table{
    width: 100%;
    background-color: blueviolet;
}

th{
    width: 22%;
    flex: 1;
    height: 30px;
    font-size: 20px;
    background-color:cornflowerblue;
    color: white;
}

td{
    padding-left: 10px;
    height: 30px;
}

tr:nth-child(even){
    background-color: khaki;
}

tr:nth-child(odd){
    background-color: rgb(241, 225, 80);
}

.removeButton{
    height: 20px;
    width: 90%;
    background-color: red;
    color: white;
    border-radius: 10px;
    border: none;
}

button:hover{
    scale: 1.02;
}

tr:nth-child(even):hover{
    background-color: rgba(240, 230, 140, 0.98);
}

.inactive{
    background-color: blueviolet;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 50px;
    color: white;
    transition: 500ms;
}

.active{
    background-color: red;
    height: 70px;
    width: 70px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 50px;
    color: white;
    border-radius: 50%;
    rotate: 45deg;
    transition: 500ms;
}
